.item {
  width: 180px;
  display: inline-block;
}
.gray {
  background-color: #eee;
}
.line {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.new-user-item {
  width: 150px;
}
.btn {
  height: 50px;
  margin: 0.25em 0;
}
